* {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	font-family: "맑은고딕";
}

.container {
	width: 1300px;
}

.content {
	position: relative;
	width: 100%;
	min-height: 78.7vh;
	float: left;
	min-height: 78.7vh;
}

.container {
	width: 1400px;
	position: relative;
}

/* 관리자 CSS */
#adminTable {
	border-collapse: collapse;
	text-align: center;
}

#adminTable tr th {
	background-color: #5d9e3f;
	color: #fff;
	font-weight: bold;
}

#adminTable tr th, td {
	border: 1px solid #000;
	width: 10%;
	padding: 10px;
}

#adminTable tr td img {
	width: 100px;
}

/* header 영역 */
header {
	width: 100%;
	height: 200px;
	float: left;
}

header .headerIcon ul {
	margin: 30px;
}

header .headerIcon ul li {
	float: left;
	margin-right: 15px;
}

header .headerIcon ul li svg {
	width: 2.5em;
	height: 2.5em;
}

header .headerLogo {
	text-align: center;
	line-height: 100px;
}

header .headerLogo img {
	width: 70%;
}

header .headerSearch form {
	line-height: 100px;
}

header .headerSearch input[type=text] {
	width: 70%;
	height: 45px;
	border: 1px solid #e5e5e5;
	padding: 10px;
}

header .headerSearch input[type=submit] {
	position: absolute;
	width: 20%;
	height: 45px;
	line-height: 40px;
	top: 50%;
	background-color: #f2cd85;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: bold;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transform: translate(0, -50%);
}

/* 상단 메뉴 바 */
header .menubar {
	width: 100%;
	height: 75px;
	background-color: #212529;
}

header .menubar nav {
	width: 100%;
	height: 75px;
}

header .menubar nav ul li {
	width: 25%;
	float: left;
	color: #fff;
	line-height: 45px;
	float: left;
}

header .menubar nav ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	transition: 0.4s;
}

header .menubar nav ul li a:hover {
	color: #f2cd85;
}

/* main 영역 */
#mainSlideForm {
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}

#mainSlideForm ul li {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #f2cd85;
	left: -100%;
}

#mainSlideForm ul li:nth-child(1) {
	left: 0;
}

#mainSlideForm ul li:nth-child(2) {
	background-color: red;
}

#mainSlideForm ul li:nth-child(3) {
	background-color: blue;
}

#mainSlideForm .mainSlideBtn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.on {
	background-color: #f2cd85;
}

#mainSlideForm .mainSlideBtn button {
	width: 80px;
	height: 10px;
	border: none;
}

/* new hot list */
#newProductForm {
	width: 100%;
	overflow: hidden;
}

#newProductForm .productList {
	width: 3000px;
}

#newProductForm .productList .product {
	width: 300px;
	float: left;
	margin-right: 30px;
}

#newProductForm .productList .product img {
	width: 100%
}

#newProductForm .productList .product .productBody h5, #newProductForm .productList .productBody p
	{
	text-align: center;
	padding: 10px;
}

/* footer 영역 */
footer {
	width: 100%;
	height: 200px;
	background-color: #000;
	float: left;
}